body{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    margin: 0 auto;
    max-width: fit-content;
    padding: 20px;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(5, 5, 128);
    color: white;
}

h1{
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
}

.recipeListes{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.3);
    list-style: none;
    margin-top: 15px;
    text-align: justify;
}
