body{
    margin: 20px;
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(5, 5, 128);
    color: white;
}

h1{
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
}