body{
    margin: 0;
   padding: 0;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(5, 5, 128);
    color: white;
}

h1{
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
}

.container{
    margin: 0 auto;
    max-width: 1600px;
    padding: 20px;
}

.recipeListes{
    list-style: none;
    margin: 8px;
    padding: 8px;
}

.recipe-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2);
    overflow: hidden;
}

.recipe-items img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
