body{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(5, 5, 128);
    color: white;
}

h1{
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
}

ul{
    display: flex;
    width: fit-content;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.3);
}

ul li{
    list-style: none;
}
